<%# Display a list of saved locations %>
<%# Features:
  1. list locations,
  2. provide link to view each location,
  3. links to add location
%>

<h1>World Wide Weather</h1>
<h2>Weather Monitors</h2>

<turbo-frame id="locations_list">
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Forecast</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location, index| %>
    <tr id="location_<%= location.id %>">
      <td><%= location.name %></td>
      <td>
        <%= link_to 'View', forecast_location_path(location.id) %>
      </td>
      <td>
        <%= button_to "Delete", location_path(location), method: :delete,
          data: { turbo_frame: "locations_list" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</turbo-frame>

<br />
<%= link_to 'Add Location from Coordinates', new_location_path %>
<br />
<%= link_to 'Add Location from Address', new_from_address_locations_path %>
<br />
<%= link_to 'Add Your Current Location', new_from_ip_locations_path%>