<h1>Add Location from Coordinates</h1>

<%= form_with model: @location, url: locations_path, method: :post, local: true do |form|%>
<div>
  <%= form.label :name, "Location Name" %>
  <%= form.text_field :name, required: true %>
</div>

<div>
  <%= form.label :latitude, "Latitude" %>
  <%= form.text_field :latitude, required: true %>
</div>

<div>
  <%= form.label :longitude, "Longitude" %>
  <%= form.text_field :longitude, required: true%>
</div>

<%= form.submit "Add Location" %>
<% end %>

<%= link_to 'Weather Monitors', locations_path %>