<h1>Add Location from Address</h1>

<%= form_with model: @location, url: create_from_address_locations_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :name, "Location Name" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :address, "Address" %>
    <%= form.text_field :address, name: "forecast_location[address]", required: true %>
  </div>

  <%= form.submit "Add Location" %>
<% end %>

<%= link_to 'Weather Monitors', locations_path %>